In [ ]:
#Memasukkan library yang dibutuhkan
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Menyambungkan ke gdrive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Membaca data
cost_df = pd.read_csv('/content/drive/MyDrive/data analyst project/project_cost_living/cost-of-living.csv')
cost_df.head(10)

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1
5,Dhaka,Bangladesh,1.95,11.71,4.88,5.85,5.12,1.95,0.29,0.16,...,41.53,142.09,87.79,347.57,208.50,1119.98,571.72,280.73,9.26,1
6,Osaka,Japan,7.45,48.39,5.36,3.35,3.72,3.28,1.09,0.81,...,132.61,674.96,376.14,1737.21,993.17,8043.38,4825.58,2322.46,1.49,1
7,Jakarta,Indonesia,2.59,22.69,3.57,2.06,3.24,2.23,0.61,0.27,...,79.85,505.59,277.43,1172.14,615.04,2632.80,1241.09,509.12,9.05,1
8,Shenzhen,China,4.27,28.47,4.98,1.14,3.99,4.20,0.47,0.34,...,106.77,738.75,435.07,1682.30,886.16,17898.73,8091.57,1572.22,4.99,1
9,Kinshasa,Congo,15.11,42.63,10.08,1.74,2.50,4.35,2.78,0.84,...,93.33,2000.00,725.00,4500.00,1160.00,6170.63,933.33,400.00,19.33,0

In [ ]:
cost_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4956 entries, 0 to 4955
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          4956 non-null   object
 1   country       4956 non-null   object
 2   x1            4528 non-null   float64
 3   x2            4505 non-null   float64
 4   x3            4622 non-null   float64
 5   x4            4460 non-null   float64
 6   x5            4516 non-null   float64
 7   x6            4612 non-null   float64
 8   x7            4511 non-null   float64
 9   x8            4640 non-null   float64
 10  x9            4578 non-null   float64
 11  x10           4543 non-null   float64
 12  x11           4613 non-null   float64
 13  x12           4449 non-null   float64
 14  x13           4478 non-null   float64
 15  x14           4398 non-null   float64
 16  x15           4390 non-null   float64
 17  x16           4584 non-null   float64
 18  x17           4575 non-null   float64
 19  x18           4515 non-null   float64
 20  x19           4487 non-null   float64
 21  x20           4519 non-null   float64
 22  x21           4523 non-null   float64
 23  x22           4455 non-null   float64
 24  x23           4568 non-null   float64
 25  x24           4494 non-null   float64
 26  x25           4235 non-null   float64
 27  x26           4301 non-null   float64
 28  x27           4466 non-null   float64
 29  x28           3450 non-null   float64
 30  x29           2790 non-null   float64
 31  x30           4083 non-null   float64
 32  x31           3934 non-null   float64
 33  x32           3560 non-null   float64
 34  x33           4368 non-null   float64
 35  x34           3898 non-null   float64
 36  x35           3961 non-null   float64
 37  x36           4468 non-null   float64
 38  x37           3755 non-null   float64
 39  x38           4607 non-null   float64
 40  x39           3581 non-null   float64
 41  x40           2556 non-null   float64
 42  x41           4481 non-null   float64
 43  x42           3824 non-null   float64
 44  x43           3275 non-null   float64
 45  x44           4477 non-null   float64
 46  x45           4339 non-null   float64
 47  x46           4453 non-null   float64
 48  x47           4403 non-null   float64
 49  x48           3593 non-null   float64
 50  x49           3525 non-null   float64
 51  x50           3476 non-null   float64
 52  x51           3444 non-null   float64
 53  x52           2729 non-null   float64
 54  x53           2653 non-null   float64
 55  x54           3524 non-null   float64
 56  x55           3950 non-null   float64
 57  data_quality  4956 non-null   int64
dtypes: float64(55), int64(1), object(2)
memory usage: 2.2+ MB

In [ ]:
#Mengecek missing value
cost_df.isna().sum()

city               0
country            0
x1               428
x2               451
x3               334
x4               496
x5               440
x6               344
x7               445
x8               316
x9               378
x10              413
x11              343
x12              507
x13              478
x14              558
x15              566
x16              372
x17              381
x18              441
x19              469
x20              437
x21              433
x22              501
x23              388
x24              462
x25              721
x26              655
x27              490
x28             1506
x29             2166
x30              873
x31             1022
x32             1396
x33              588
x34             1058
x35              995
x36              488
x37             1201
x38              349
x39             1375
x40             2400
x41              475
x42             1132
x43             1681
x44              479
x45              617
x46              503
x47              553
x48             1363
x49             1431
x50             1480
x51             1512
x52             2227
x53             2303
x54             1432
x55             1006
data_quality       0
dtype: int64

In [ ]:
#mengecek duplicate
print('jumlah duplicate: ', cost_df.duplicated().sum())

jumlah duplicate:  0

In [ ]:
cost_df.fillna(value="0", inplace=True)

In [ ]:
#Mengecek missing value
cost_df.isna().sum()

city            0
country         0
x1              0
x2              0
x3              0
x4              0
x5              0
x6              0
x7              0
x8              0
x9              0
x10             0
x11             0
x12             0
x13             0
x14             0
x15             0
x16             0
x17             0
x18             0
x19             0
x20             0
x21             0
x22             0
x23             0
x24             0
x25             0
x26             0
x27             0
x28             0
x29             0
x30             0
x31             0
x32             0
x33             0
x34             0
x35             0
x36             0
x37             0
x38             0
x39             0
x40             0
x41             0
x42             0
x43             0
x44             0
x45             0
x46             0
x47             0
x48             0
x49             0
x50             0
x51             0
x52             0
x53             0
x54             0
x55             0
data_quality    0
dtype: int64

In [ ]:
cost_df.to_csv("cost_of_living2.csv", index=False)